@import "/src/settings";
button {
  opacity: 0.75;
  background-color: $yellow_color !important;
}
button:hover {
  opacity: 1;
}
.scroll-to-top {
  position: fixed;
  bottom: 5vmin;
  right: 5vmin;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}
.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
