<div class="container-fluid" id="mainMenu">
  <nav
    class="navbar navbar-expand-lg sticky-top"
    id="mainMenu"
    [ngClass]="{ 'show-background': windowScrolled }"
  >
    <a class="navbar-brand fade-in-fwd-" routerLink="/" rel="noopener">
      <img
        src="../../../assets/images/logo-light.svg"
        height="30"
        alt="Hanuman Beverages Logo"
        class="header-logo lazyload"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span>
        <fa-icon [icon]="faBars" class="d-lg-none"></fa-icon>
      </span>
    </button>

    <div
      class="collapse navbar-collapse mt-md-1 mt-lg-0"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav" *ngFor="let menu of menuList?.menu">
        <li class="nav-item" *ngIf="menu.subMenu == null; else elseBlock">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="{{ menu.url }}"
            rel="noopener"
            routerLinkActive="active"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            >{{ menu.title }}</a
          >
        </li>
        <ng-template #elseBlock>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ menu.name }}
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdown"
              *ngFor="let item of menu.subMenu"
            >
              <a
                class="dropdown-item"
                routerLink="{{ item.link }}"
                rel="noopener"
                >{{ item.name }}</a
              >
            </div>
          </li>
        </ng-template>
      </ul>

      <!-- Language Switch -->
      <ul class="navbar-nav langSwitch">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ currentLang }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="switchLang()">{{ otherLang }}</a>
          </div>
        </li>
      </ul>
      <div class="indicator" #indicator></div>
    </div>
  </nav>
</div>
